.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
/sitepsd
/node_modules
/release
/release.zip
/icons.zip
/.vscode
/.nova
/dist/js/glightboxTest.min.js
/dist/js/glightboxTest.js
/src/js/glightboxTest.js
sitepsd.psd
package-lock.json
